html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
    font-family: Arial, sans-serif !important;
    background-color: #f5f5f5 !important;
    color: #333 !important;
    font-size: 18px;
}

.container {
    max-width: 960px !important;
}

.theory-block {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.theory-block h3 {
    margin-top: 0;
    color: #007bff;
    line-height: 1.5;
}

.theory-block p {
    line-height: 1.5;
}

.theory-block img {
    margin: auto;
    display:block;
    width:60%;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

#pseudocode {
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
}

pre code::before {
    display: inline-block;
    width: 3em;
    margin-left: -3em;
    text-align: right;
    color: #999;
}

.figure-caption {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 17px;
}

.matrix-input{
    margin: auto;
    display: block;
    width: 100%;
}

th{
    border-top:none;
    border-left:none;
    text-align:center;
    vertical-align:middle!important;
}

.matrix-input{
    text-align:center;
    padding-right:3px;
}

#matrix_form{
    margin-bottom:2%;
}

#content {
    padding: 0 0 60px 0;
}

.footer {
    background-color: #428bca;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer * {
    margin: 10px;
    color: white;
}

#app_header {
    background-color: #428bca !important;
    border-color: #428bca !important;
}

#color_white {
    color: white !important;
}
.dropdown-toggle {
    color: white !important;
}

.dropdown-toggle:default {
    background-image: none !important;
    color: white !important;
}

.dropdown-toggle:focus, .dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #285E8E !important;
    background-image: none !important;
    color: white !important;
}

#footer_link {
    color: white;
}

#footer_link:hover {
    color: white;
}

.header-page {
    margin-bottom: 30px !important;
}

.card {
    border: 2px solid #007bff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-body d-flex {
    vertical-align: bottom;
    bottom: 10px;
}

hr {
    border-top: 1px solid #ccc;
    text-align: center;
}

.card-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.resultTableHeader {
    width: 50px;
    font-size: 20px;
}

.resultTableCell {
    border: 1px solid black;
    width: 50px;
    font-size: 16px;
}

.daystarLabel{
    margin-top: 10px;
}
#Welcomemessage {
    background-color: #428bca;
}

#Welcomemessage * {
    color: white !important;
    font-size: 20px;
}

.badge {
    background-color: #428bca;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;

.resultTable {
    width: 100% !important;
    margin: auto !important;
    text-align: center;
    display: flex;
    justify-content: center;

}